* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #36454F;
}

.image-table {
  width: 200px;
  height: 100px;
}

.profile-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
  position: fixed;
  position: absolute;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30%;
  margin: 5px;
  padding: 5px;
}

.profile-image {
  border-radius: 50%;
  width: 35%;
  height: 20%;
}

.profile-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.profile-bio {
  background-color: white;
  margin: 5px;
  margin-left: 10px;
  min-height: 40%;
  border-radius: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  width: 100%;
}

.profile-projects {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  margin-left: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}